body {
    font-family Arial
    background-color: #f5f5f5;
}

.title {
    color blue;
    font-size 32px;
}

#text {
    color: #333333;
    line-height: 1.2
}

a:hover {
    text-decoration underline;
}